* {
    margin: 0;
    padding: 0;
}


body {
    color: #fff;
    width: 100%;
    background: #71BFE8;
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 0 2px 3px #B9B9B9;
}

.top {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translate(0, 80px);
    transition: all 1000ms;
    opacity: 0;
}

.top.fadein,
.profile.fadein,
.works.fadein {
    opacity: 1;
    transform: translate(0, 0);
}

.top img {
    display: block;
    width: 400px;
}

.top p,
h1 {
    font-family: 'Overpass', sans-serif;
    text-shadow: 0 2px 3px #B9B9B9;
}

.top p {
    margin-top: 40px;
    font-size: 30px;
}

.top h1 {
    font-size: 80px;
    letter-spacing: 0.07em;
}

.profile {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    transform: translate(0, 30px);
    transition: all 1000ms;
    opacity: 0;
}

.profile > p {
    font-size: 40px;
}

.profile > h6,
.works > h6 {
    background: #FA97A7;
    border-radius: 100px;
    padding: 4px 50px;
    font-size: 40px;
    font-style: normal;
}

.profile > p:nth-child(2),
.works > h6 {
    margin-top: 40px;
}

.profile > h6:nth-child(5) {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.skill,
.work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: #F0B4BE;
    border-radius: 1000px;
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 16%));
}

.skillcontainer h4 {
    font-size: 50px;
    letter-spacing: 0.04em;
}

.skillcontainer span {
    letter-spacing: 0.8em;

}

.skillcontainer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skillcontainer .skill:first-child,
.work:first-child {
    background: #FA97A7;

}

.works {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    transform: translate(0, 30px);
    transition: all 1000ms;
    opacity: 0;
}

.workscontainer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.works h6 {
    margin-bottom: 60px;
}

.work {
    transition: 1s;
    position: relative;
    background: #BFBFBF;
}

.work:first-child:hover {
    background: #FFC7D0;
    transition: 1s;
}

.work img {
    position: absolute;
    bottom: 46px;
    width: 80px;
    left: 80px;
    padding-bottom: 0;
}

.work h4 {
    color: #fff;
    font-size: 30px;
    text-decoration-line: none;
}

a > .work > h4 {
    z-index: 1;
    position: absolute;
    top: 90px;
    left: 46px;
}

footer {
    width: 100%;
}

footer p {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    font-family: 'Overpass', sans-serif;
}

.sns {
    height: 200px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.snscontainer {
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snscontainer a {
    margin: 20px 40px;
    margin-top: 30px;

}

.snscontainer img {
    height: 80px;
    transition: 0.6s;
}

.snscontainer img:hover {
    opacity: 0.6;
    transition: 1s;
}

.snscontainer img :last-child {
    padding-right: 20px;
}
